{% extends 'Sf2filmsFilmsBundle:Default:index.html.twig' %}

{% block content_main %}
    <div id="allPost" class="postBox">
        <div class="panel panel-default" id_content="{{ data.id }}">
            <div class="post_poster">
                <a href="{{ path('sf2films_films_element', {'slug': data.slug}) }}">
                    <img src="{% if data.posterImg %} {{ data.posterImg }} {% else %} /uploads/poster/not_img.jpg {% endif %}" class="poster_img"/>
                </a>
            </div>
            <div class="panel-body post_body">
                <div style="overflow: hidden">
                    <div style="float: left; font-size: 18px;">
                        <a href="{{ path('sf2films_films_element', {'slug': data.slug}) }}">
                            {{ data.name }} {% if data.isPublish == 0 %}<span style="color: red;">(неопубликованный)</span>{% endif %}
                        </a>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div style="float: right;">
                            <a href="{{ path('sf2films_films_edit', {'id': data.id}) }}">
                                <span class="glyphicon glyphicon-edit post_edit" title="Редактировать"></span>
                            </a>
                            <a href="{{ path('sf2films_films_del', {'id': data.id}) }}">
                                <span class="glyphicon glyphicon-remove post_delete" title="Удалить"></span>
                            </a>
                        </div>
                    {% endif %}
                </div>

                {% if data.tags|length > 0 %}
                    <div style="padding: 5px;">
                        <span style="font-weight: bold;">Теги:</span>
                        {% for tag in data.tags %}
                            {{ tag.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if data.genres|length > 0 %}
                    <div style="padding: 5px;">
                        <span style="font-weight: bold;">Жанр:</span>
                        {% for genre in data.genres %}
                            <a href="{{ path('sf2films_films_by_genre', {'translit': genre.nameTranslit}) }}">{{ genre.name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if data.persons|length > 0 %}
                    <div style="padding: 5px;">
                        <span style="font-weight: bold;">Актеры:</span>
                        {% for person in data.persons %}
                            <a href="{{ path('sf2films_films_by_person', {'translit': person.nameTranslit}) }}">{{ person.name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if data.year !=  0 %}
                    <div style="padding: 5px;">
                        <span style="font-weight: bold;">Год:</span>
                        {{ data.year }}
                    </div>
                {% endif %}

                {% if data.duration !=  0 %}
                    <div style="padding: 5px;">
                        <span style="font-weight: bold;">Продолжительность:</span>
                        {{ data.duration }}
                    </div>
                {% endif %}

                {% if data.budget !=  0 %}
                    <div style="padding: 5px;">
                        <span style="font-weight: bold;">Бюджет:</span>
                        {{ data.budget }}
                    </div>
                {% endif %}

                <div style="padding: 5px;">
                    <span style="font-weight: bold;">Анотация:</span><br/>
                    {{ data.description }}
                </div>
            </div>
            {% if is_granted('ROLE_USER') %}
                <div style="text-align: right; padding: 5px;">
                    <button type="submit" class="btn btn-primary btn-success btn-xs add-mycontent-js" data-id="{{ data.id }}"/>Добавить в мои</button>
                </div>
                <div style="text-align: right; padding: 5px; display: none;">
                    <button type="submit" class="btn btn-primary btn-danger btn-xs del-mycontent-js" data-id="{{ data.id }}"/>Удалить из моих</button>
                </div>
            {% endif %}
        </div>

        <h4>Комментарии:</h4>
        {% if is_granted('ROLE_USER') %}
        <div class="postFormBox">
            <form action="{{ path('sf2films_comment_add', {'id': data.id}) }}" method="post" {{ form_enctype(comment_form) }} novalidate="">
                {{ form_errors(comment_form) }}
                <div class="postFormFields">
                    <div>
                        {{ form_label(comment_form.txt, 'Текст комментария') }}
                        {{ form_errors(comment_form.txt) }}
                        {{ form_widget(comment_form.txt, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="postFormButtons" style="overflow: hidden; text-align: center;">
                    <button id="addСomment" type="submit" class="btn btn-primary" style="margin-right: 10px;"/>Добавить</button>
                </div>
                {{ form_rest(comment_form) }}
            </form>
        </div>
        {% endif %}

        {% if data.comments|length > 0 %}
            {% for comment in data.comments %}
                <div style="padding: 5px; border-bottom: 1px dashed #cccccc;">
                    <div style="overflow: hidden;">
                        <div style="float: left;">
                            <span style="font-weight: bold;">{{ comment.user }}</span>
                            <span style="font-size: 11px;">({{ comment.created|date('Y-m-d H:i:s') }})</span>
                        </div>
                        <div style="font-weight: bold; float: right">
                            {% if is_granted('EDIT', comment) or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('sf2films_comment_edit', {'id': comment.id}) }}">
                                    <span class="glyphicon glyphicon-edit edit-comment-js" title="Редактировать"></span>
                                </a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <span style="cursor: pointer;" class="glyphicon glyphicon-remove del-comment-js" data-id="{{ comment.id }}" title="Удалить"></span>
                            {% endif %}
                        </div>
                    </div>
                    <div>{{ comment.txt }}</div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div>
        <a href="{{ path('sf2films_films_all') }}">К фильмам</a>
    </div>
{% endblock %}
