{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/sf2filmsfilms/css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/sf2filmsfilms/css/post.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/sf2filmsfilms/js/jquery-1.10.2.js') }}"></script>
    <script src="{{ asset('bundles/sf2filmsfilms/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/sf2filmsfilms/js/main.js') }}"></script>
{% endblock %}

{% block title %}Каталог фильмов{% endblock %}

{% block body %}

    <div id="content_header" class="content_header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('sf2films_homepage')}}">Каталог фильмов</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li {% if app.request.attributes.get('_route') == "sf2films_homepage" %}class="active"{% endif %}><a href="{{ path('sf2films_homepage')}}">Главня</a></li>
                    <li {% if app.request.attributes.get('_route') == "sf2films_films_all" %}class="active"{% endif %}><a href="{{ path('sf2films_films_all')}}">Фильмы</a></li>
                    <li {% if app.request.attributes.get('_route') == "sf2films_films_genre" %}class="active"{% endif %}><a href="{{ path('sf2films_films_genre')}}">Жанры</a></li>
                    <li {% if app.request.attributes.get('_route') == "sf2films_films_person" %}class="active"{% endif %}><a href="{{ path('sf2films_films_person')}}">Актеры</a></li>
                    <li {% if app.request.attributes.get('_route') == "sf2films_sitemap" %}class="active"{% endif %}><a href="{{ path('sf2films_sitemap')}}">Карта сайта</a></li>
                </ul>

                <ul class="nav navbar-nav" style="float: right;">
                    {% if app.user.username is defined %}
                        <li><a href="{{ path('fos_user_profile_show')}}">{{ app.user.username }}</a></li>
                        <li {% if app.request.attributes.get('_route') == "fos_user_security_logout" %}class="active"{% endif %}><a href="{{ path('fos_user_security_logout')}}">Выйти</a></li>
                    {% else %}
                        <li {% if app.request.attributes.get('_route') == "fos_user_security_login" %}class="active"{% endif %}><a href="{{ path('fos_user_security_login')}}">Войти</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    <div id="content_main">
        <div>
            {% block content_main %}
                Главная страница
            {% endblock %}
        </div>
    </div>

    <div id="content_footer">
    </div>
{% endblock %}