{% extends "Sf2filmsUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'Логин'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" /><br/>

    <label for="password">{{ 'Пароль'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" class="form-control" /><br/>

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'Запомнить меня'|trans }}</label><br/>

    <input type="submit" id="_submit" name="_submit" value="{{ 'Войти'|trans }}" class="btn btn-primary" />
</form>
{% endblock fos_user_content %}
